mark-down-editor {
  display: block;
}

mark-down-editor #markup {
  float: left;
  width: 30%;
  margin-right: 50px;
}

mark-down-editor #editor {
  width: 100%;
  height: 220px;
}

mark-down-editor #markdown {
  overflow: hidden;
}
